.RelatedProducts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: 90vh;
}
.RelatedProducts h1 {
  color: #171717;
  font-size: 50px;
  font-weight: 600;
}

.RelatedProducts hr {
  width: 200px;
  height: 6px;
  border-radius: 10px;
  background: #252525;
}
.RelatedProducts-item {
  margin-top: 50px;
  display: flex;
  gap: 30px;
}

@media (max-width: 1280px) {
  .RelatedProducts {
    padding: 20px;
    height: 80vh;
  }

  .RelatedProducts h1 {
    font-size: 40px;
  }

  .RelatedProducts hr {
    width: 160px;
    height: 4px;
  }
  .RelatedProducts-item {
    gap: 30px;
    margin-top: 30px;
  }
}

@media (max-width: 1024px) {
  .RelatedProducts {
    padding: 15px;
    height: 78vh;
  }

  .RelatedProducts h1 {
    font-size: 30px;
  }

  .RelatedProducts hr {
    width: 160px;
    height: 4px;
  }
  .RelatedProducts-item {
    gap: 25px;
    margin-top: 20px;
  }
}

@media (max-width: 800px) {
  .RelatedProducts {
    height: 60vh;
    gap: 6px;
  }

  .RelatedProducts h1 {
    font-size: 25px;
  }

  .RelatedProducts hr {
    width: 100px;
    /* height: 4px; */
  }
  .RelatedProducts-item {
    gap: 10px;
    /* margin-top: 20px; */
  }
}

@media (max-width: 520px) {
  .RelatedProducts {
    height: 100%;
    gap: 6px;
  }
  .RelatedProducts h1 {
    font-size: 25px;
  }
  .RelatedProducts-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
