.offers {
  width: 65%;
  height: 65vh;
  display: flex;
  margin: auto;
  padding: 0px 140px;
  justify-content: center;
  padding: 50px;
  background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
}

.offers-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  gap: 20px;
  justify-content: center;
}

.offers-left h1 {
  color: #171717;
  font-size: 50px;
  font-weight: 600;
}

.offers-left p {
  color: #171717;
  font-size: 22px;
  font-weight: 600;
}

.offers-left button {
  width: 150px;
  height: 45px;
  border-radius: 35px;
  background: #ff4141;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 22px;
  font-weight: 500;
}

.offers-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}

.offers-right img {
  width: 400px;
  height: 400px;
  object-fit: contain;
}
